@import "../variables.scss";

.banner-top {
  margin: 2rem 0;
  padding: 0 1rem;

  .container {
    background-color: $light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    div {
      font-size: $size15;
      letter-spacing: -0.06rem;
      line-height: $size18;
      &:first-child {
        line-height: normal;
        padding-right: 2rem;
        width: 40%;
      }
      &:last-child {
        width: 58%;
      }
    }

    span {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
