@import "../variables.scss";

.banner {
  background-image: url("../../img/people/pope-francis.png");
  background-position: 57%;
  background-size: cover;
  padding-top: 5.5rem;

  .container {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.featured-card {
  margin-bottom: 2rem;
  width: 60%;

  .featured-card-information {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(13px);
    color: $white;
    padding: 12px;

    h2{
      font-size: 3rem;
      font-weight: 400;
      line-height: 3rem;
      margin-top: 1px;
      margin-bottom: 12px;
    }

    p{
      font-size: 12px;
    }

    .featured-card-person-description{
      font-size: 1.25rem;
      line-height: 1.4rem;
      margin-bottom: 1rem;
    }

    .featured-card-question-veredict{
      font-weight: 700;
    }
  }

  .featured-card-thumbs {
    display: flex; 

    span {
      color: $white;
      padding: 8px 0;
      text-align: center;
      width: 50%;
    }
  }
}

.closing-in-bar{
  display: flex;
  div{
    padding: 7px;
    &:first-child{
      background-color: rgba($color: $black, $alpha: 0.4);
      color: $white;
      font-size: 12px;
      padding-top: 0.7rem;
      position: relative;
      text-align: right;
      text-transform: uppercase;
      width: 30%;

      &::after{
        border-bottom: 5px transparent;
        border-left: 5px rgba($color: $black, $alpha: 0.4) ;
        border-right: 5px transparent;
        border-top: 5px transparent;
        border-style: solid;
        bottom: 0;
        content: '';
        height: 0;
        margin: auto;
        position: absolute;
        right: -10px;
        top: 0;
        width: 0;
      }
    }
    &:last-child{
      background-color: rgba($color: $white, $alpha: 0.4);
      color: $grey-primary;
      font-size: 1.5rem;
      padding-left: 12px;
      width: 70%;
      span{
        font-weight: 700;
      }
    }
  }
}