@import "../variables.scss";

footer {
  .container-footer {
    align-items: flex-end;
    border-top: 2px dashed $grey-primary;
    display: flex;
    font-size: $size1_25;
    font-weight: 400;
    justify-content: space-between;
    padding: 1.45rem 0 2.8rem;

    nav {
      a {
        display: block;
        &:not(:last-child) {
          margin-bottom: $size1_5;
        }
      }
    }

    .social-media {
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 0.5rem;
      }

      .social-media-icons {
        display: flex;
        justify-content: space-between;

        span {
          color: $dark-grey;
          font-size: 2rem;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  footer {
    padding: 0;
    .container-footer {
      align-items: center;
      padding: 2.5rem 0;
      nav {
        a {
          display: inline;
          margin-bottom: 0;
          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }

      .social-media {
        align-items: center;
        flex-direction: row;
        p {
          margin-bottom: 0;
          margin-right: 1rem;
        }
        .social-media-icons {
          a {
            &:not(:last-child) {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1440px) {
  footer {
    .container-footer {
      font-size: 1rem;
      padding: 2rem 0;

      .social-media {
        .social-media-icons {
          span {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
