
@import '../variables.scss';

header{
  background: linear-gradient(180deg, rgba(0,0,0,0.6968) 0%, rgba(0,0,0,0) 100%);
  color: $white; 
  
  position: fixed;
  width: 100%;

  button{
    @extend .icon;
  }

  h1{
    font-size: 2rem;
    line-height: 2rem;
  }

  .container{
    display: flex;
    padding-bottom: 35px;
    padding-top: 35px;
    justify-content: space-between;
  }

  .menu-movil{
    height: 100vh;
    max-width: 400px;
    position: absolute;
    width: 100px;
    
    form{
      display: flex;
    }
  }
}