@import "../variables.scss";

.mobile-menu-size{
    left: 0;
    top: 0;
    width: 100vw;
}

header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6968) 0%, rgba(0, 0, 0, 0) 100%);
  color: $white;
  position: fixed;
  width: 100%;
  z-index: 1000;

  button {
    @extend .icon;
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .container {
    display: flex;
    padding-bottom: 35px;
    padding-top: 35px;
    justify-content: space-between;
  }

  .mobile-menu-background{
    background-color: rgba($color: $black, $alpha: 0.6968);
    height: 100vh;
    position: absolute;
    @extend .mobile-menu-size;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    position: fixed;
    @extend .mobile-menu-size;

    li {
      font-size: 2rem;
      font-weight: 400;
      margin: 3rem 0;
      text-align: center;
    }

    .mobile-menu-search {
      display: flex;
      justify-content: center;
      input {
        border-bottom: 2px solid $white;
        font-size: 1.5rem;
        margin-right: 1rem;
        width: 25vw;

        &:focus {
          width: 50vw;
        }
      }
      span {
        font-size: 2rem;
      }
    }
  }
}


@media all and (min-width: '1440px'){
  .desktop-menu{
    display: flex;
    align-items: center;
    
    li {
      font-size: 1rem;
      font-weight: 300;
      text-align: center;

      &:not(:last-child){
        margin-right: 1rem;
      }
    }

    .desktop-menu-search{
      span{
        font-size: 2rem;
      }
    }
  }
}