@import './variables.scss';

html, body{
  color: $grey-primary;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 300;
  line-height: $line-height-normal;
}

span{
  font-size: 20px;
}

.container{
  max-width: 740px;
  padding: 0 21px;
}

.icon-thumb-up {
  background-color: rgba($color: $turquoise, $alpha: 0.8);
  @extend .icon;
}
.icon-thumb-down {
  background-color: rgba($color: $yellow, $alpha: 0.8);
  @extend .icon;
}