@import "./variables.scss";

body, html {
  color: $grey-primary;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 300;
  line-height: $line-height-normal;
}

span {
  font-size: 20px;
}

.container {
  margin: auto;
  max-width: 720px;
  padding: 0 1rem;
}

.thumb-up {
  background-color: rgba($color: $turquoise, $alpha: 0.8);

  &:hover {
    background-color: rgba($color: $turquoise, $alpha: 1);
  }
  @extend .icon;
}

.thumb-down {
  background-color: rgba($color: $yellow, $alpha: 0.8);
  transition: all 0.3s;
  &:hover {
    background-color: rgba($color: $yellow, $alpha: 1);
  }
  @extend .icon;
}

@media all and (min-width: 768px) {
  body, html{
    font-size: 14px;
  }

  .container {
    max-width: 960px;
    padding: 0 $size1_8;
  }
}

@media all and (min-width: 1440px) {
  body, html{
    font-size: 18px;
  }

  .container {
    max-width: 1099px;
    padding: 0 $size1_5;
  }
}
