//COLORS
//Blue
$turquoise: #3CBBB4;

//Yellow
$yellow: #F9AD1D;
$light-yellow: #FBBD4A;

//Grey
$grey-primary: #464646;
$grey-secundary: #333333;
$light-grey: #EBEBEB;
$dark-grey: #262626;

//Black and white
$black: #000;
$white: #fff;


//FONTS
$primary-font: 'Lato';


.icon{
  color: $white;
  font-size: 1.3rem;
}

//Size
$size0_5: 0.5rem;
$size1_25: 1.25rem;
$size1_5: 1.5rem;
$size1_8: 1.8rem;

//Line height
$line-height-normal: 14.4px;