@import "../../variables.scss";

.text-overflow {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.previous-rulings--view-grid {
  align-items: flex-end;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: end;
  width: 300px;

  .icon-thumb {
    font-size: 1.45rem;
    padding: 0.55rem;
  }

  .thumbs-gauge {
    display: flex;
    position: relative;
    div {
      height: 3rem;
      p {
        color: $white;
        font-size: $size18;
      }
      span {
        background-color: transparent;
        font-size: $size15;
        padding: 0;
        margin: 0 0.5rem 0 0;
      }
    }

    .thumbs-gauge-values {
      display: flex;
      height: auto;
      justify-content: space-between;
      left: 0;
      padding: 0.85rem 1rem;
      position: absolute;
      width: calc(100% - 2rem);
    }

    .thumbs-up-gauge {
      background-color: rgba($color: $turquoise, $alpha: 0.6);
    }
    .thumbs-down-gauge {
      background-color: rgba($color: $yellow, $alpha: 0.6);
      text-align: right;
      span {
        margin: 0 0 0 0.5rem;
      }
    }
  }
}
.view-grid-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6968) 0%, rgba(0, 0, 0, 0) 100%);
  position: relative;
}

.view-grid-container-information {
  color: $white;
  font-weight: 400;
  padding: 0 2.5rem;
  position: relative;

  .icon-verdict {
    position: absolute;
    left: 0;
  }

  .view-grid-name {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 7px;
    @extend .text-overflow;
  }

  .view-grid-description {
    font-size: $size15;
    height: 3rem;
    line-height: $size18;
    margin-bottom: 1rem;
    @extend .text-overflow;
  }
  .view-grid-eyebrow {
    line-height: normal;
    margin-bottom: 1rem;
    text-align: right;
  }

  .view-grid-controller-votes {
    align-items: center;
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;

    button {
      cursor: pointer;
      transition: all 0.2s;
      &:not(:last-child) {
        margin-right: 1rem;
        margin-top: 0.2rem;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    .active-thumb {
      border: 2px solid $white;
    }

    .button-vote {
      background-color: rgba($color: #303030, $alpha: 0.6);
      border: 1px solid $white;
      color: $white;
      font-size: $size15;
      line-height: $size18;
      padding: 10px 2rem;

      &:disabled {
        background-color: rgba($color: $black, $alpha: 0.6);
      }
    }

    .button-vote-again {
      background-color: rgba($color: $black, $alpha: 0.6);
    }
  }
}
