@import "../../variables.scss";

.previous-rulings--view-grid {
  align-items: flex-end;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: end;
  width: 300px;
}

.view-grid-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6968) 0%, rgba(0, 0, 0, 0) 100%);
  position: relative;
}

@media all and (min-width: 768px) {
  .container {
    .previous-rulings-cards-grid {
      .previous-rulings--view-grid {
        margin: 0;
        margin-bottom: $size1_5;
        height: 377px;
        width: calc(50% - $size1_5/2);

        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }

  .view-grid-container-information {
    .icon-verdict {
      position: absolute;
      left: 0;
    }

    .view-description {
      font-size: 1.1rem;
      height: 3rem;
      line-height: $size1_5;
      margin-bottom: 1rem;
    }
  }
}

@media all and (min-width: 1440px) {
  .container {
    .previous-rulings-cards-grid {
      .previous-rulings-cards {
        .previous-rulings--view-grid {
          margin-right: 0;
          margin-bottom: $size1_5;
          height: 377px;
          width: calc(33% - $size1_5/3);
        }
      }
    }
  }

  .view-grid-container-information {
    .icon-verdict {
      position: absolute;
      left: 0;
    }

    .view-description {
      font-size: 1.1rem;
      height: 3rem;
      line-height: $size1_5;
      margin-bottom: 1rem;
    }
  }
}
